html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("../images/pizza3.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

#title {
  color: white;
  font-family: 'Rouge Script', cursive;
  font-family: 'Petit Formal Script', cursive;
}

#slogan {
  font-family: 'Sriracha', cursive;
}

.wrapper {
  text-align: center;
}

.img-thumbnail {
  height: 50%;
  width: 50%;
}
#modalMakePizza{
  text-align: center;
}

table {
  border-collapse: collapse;
}



table, td {
  border: 1px solid black;

  width: 50%;
  height: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
  font-size: 50px;
}
#total{
  text-align: right;
  padding-right: ;
}
#final{

  background-color: #4CAF50;
  color: white;
}
h3{
  text-align: center;
  font-weight: bold;
}
#myTable{
  align-items: center;
}
